# output dir
instant_test_output
inference_test_output

# compilation and distribution
__pycache__
_ext
*.pyc
*.so
AdelaiDet.egg-info/
build/
dist/ 

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea
.vscode
.python-version

# project dirs
/datasets/coco
/datasets/lvis
/datasets/cityscapes
/models
/debug
/weights
eval.sh

*.DS_Store
AdelaiDet_ssis.egg-info/dependency_links.txt
AdelaiDet_ssis.egg-info/PKG-INFO
AdelaiDet_ssis.egg-info/requires.txt
AdelaiDet_ssis.egg-info/SOURCES.txt
AdelaiDet_ssis.egg-info/top_level.txt
